.RedesSociales img:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.encabezado img:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgrey));
  background-image: linear-gradient(white, lightgrey);
  background-size: 100%;
}

body header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
  background-image: url("../img/destacados.jpg");
}

body header .encabezado img {
  width: 150px;
  height: 150px;
  margin: 25px;
}

body .cuerpoWeb {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

body .cuerpoWeb .wdtIndex {
  width: 100%;
}

body .cuerpoWebE {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

body .cuerpoWebE .wdt {
  width: 50%;
}

body footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  background-image: url("../img/destacados.jpg");
  width: 100%;
  color: black;
}

body footer .botonFooter, body footer .botonBaja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .botonBaja {
  size: 50px;
}

body footer a {
  text-decoration: none;
  background-color: lightgrey;
  padding: 15px;
  border-radius: 20px;
  color: black;
}

body footer .RedesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body footer .RedesSociales img {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 767px) {
  body header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100%;
  }
  body header .encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .encabezado img {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  body header .RPON {
    font-size: 10px;
  }
  body .cuerpoWeb {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  body .cuerpoWeb .wdtIndex {
    width: 300px;
    height: 300px;
  }
  body .cuerpoWebE {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  body .cuerpoWebE .wdt {
    width: 300px;
    height: 300px;
  }
  body footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: lightgrey;
    width: 100%;
  }
  body footer .botonFooter, body footer .botonBaja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7px;
    margin-bottom: 3px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer h5 {
    font-size: 7px;
  }
}
/*# sourceMappingURL=estilo.css.map */