$colorprincipal:lightgrey;
@import "hovers";

@mixin RedesSociales($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

$imagenescentrales:(
    internet: 100%,
    internetytv: 100%,
    solucionamed: 100%
);

$imagenescentrales_rpon:(
    internet: 300px,
    internetytv: 300px,
    solucionamed: 300px
);

$display-grid:(
    display: grid
);

body{
   background-image: linear-gradient(white, $colorprincipal);
   background-size: 100%;
   @import "header";


   .cuerpoWeb{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    .wdtIndex{
        width: 100%;
        }
    }

    .cuerpoWebE{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        .wdt{
            width: 50%;
        }        
    }

    @import "footer";
}

@import "responsive";